<div class="col-md-6">
  <h2>Register</h2>
  <form (submit)="onRegister()">
    <div class="form-group">
    <label> Enter a username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
    <label> Enter a password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>